.inicio-container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inicio-container h2{
  text-align: center;
}

#square{
  margin: 50px;
  width: 650px;
  height: 650px;
  background: #952727;
  flex-shrink: 0;
  border-radius: 10%;
}

#square2{
  margin: 5px;
  width: 400px;
  height: 400px;
  background: #952727;
  flex-shrink: 0;
  border-radius: 10%;
}

.inicio-texto {
  flex-shrink: 1;
  padding: 75px;
}

.inicio-texto h2 {
  font-size: 70px;
  
}
.inicio-texto p {
  font-size: 40px;
  
}
.inicio-texto-2 h2 {
  font-size: 85px;
  text-align: center;
}
.inicio-container2 {
  background-color: #a9a9a9;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  padding: 50px;
}

.inicio-container2 h3 {
  padding: 20px;
  font-size: 42px;
  max-width: 330px;
  
}

.iniciob, .iniciom, .inicioa{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.inicio-container3 {
  padding: 40px;
}

.inicio-container3 h2 {
  font-size: 65px;
}

.inicio-container3 p {
  font-size: 40px;
  
}
