body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: large;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(217, 217, 217);
    margin: 0;

}

.social-btn{
    margin-bottom: 19px;
}

.olvidaste-btn{
    margin-top: 9px;
    background-color: black;
    border: 1px solid #c7c7c7;
    color: white;
}

.olvidaste-btn:hover{
    background-color: #313131;
    font-weight: bold;
}

.base-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 600px;
    background-color: black;
    color: white;
    border-radius: 55px;
    padding: 150px 25px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 50%;
}

.form-container h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.form-container p {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    color: skyblue;
}

a:hover {
    color: blue;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

button {
    border-radius: 44px;
    border: unset;
    padding: 15px 30px;
    font-size: large;
    cursor: pointer;
}

input {
    margin: 10px 0;
    width: 518px;
    padding: 20px 20px;
    background-color: #1c1c1c;
    border: 1px solid #c7c7c7;
    border-radius: 9px;
    color: #fff;
    font-size: 22px;
}

button:hover {
    background-color: #d6cfcf;
    font-weight: bold;
}

.iniciar-btn {
    background-color: white;
    color: black;
}

.error {
    color: rgb(245, 94, 94);
    font-size: small;
    margin-top: 5px;
}

.escondido {
    display: none;
}

.sr-only {
    position: absolute;
    left: -100000px;
    width: 1px;
    top: auto;
    height: 1px;
    overflow: hidden;
}

.divider {
    width: 560px;
    margin: 15px 20px;
    align-items: center;
    height: 2px;
    background-color: #444;
}